In [122]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [123]:
sales=pd.read_csv('C:\\Users\\91735\\Downloads\\Sales_add.csv')
sales

,Month,Region,Manager,Sales_before_digital_add,Sales_After_digital_add
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

step 1:set up null and alternative hypotheses

H0:There is no increase in sales after stepping into digital marketing
    
   
   H1:There is an increase in the sales after stepping into digital marketing

level of significance is taken 5%,ie 0.05

step2:Decide the test
   
   since the sample data is small and population std deviation is unknown we perform t test

In [137]:
from scipy import statsfrom scipy.stats import ttest_rel
t_value,p_value=stats.ttest_rel(sales.Sales_before_digital_add,sales.Sales_After_digital_add)
print(ttest_rel(sales.Sales_before_digital_add,sales.Sales_After_digital_add))
if(abs(t_value)<p_value):
    print("\033[1msince t_value is less than p_value \nWe fail to reject null hypothesis \nTherefore there is no increase in the sales after stepping into digital marketing\033[0m")
else:
    print("\033[1msince t_value is greater than p_value\nWe reject the null hypothesis \nTherefore there is an increase in the sales after stepping into digital marketing\033[0m")

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)
sine t_value is greater than p_value
We reject the null hypothesis
Therefore there is an increase in the sales after stepping into digital marketing

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [138]:
from scipy.stats import chi2from scipy.stats import chi2_contingency
table=sales[['Sales_before_digital_add','Sales_After_digital_add']]
table

    Sales_before_digital_add  Sales_After_digital_add
0                     132921                   270390
1                     149559                   223334
2                     146278                   244243
3                     152167                   231808
4                     159525                   258402
5                     137163                   256948
6                     130625                   222106
7                     131140                   230637
8                     171259                   226261
9                     141956                   193735
10                    159339                   203175
11                    178939                   276279
12                    145062                   205180
13                    151514                   253131
14                    147463                   229336
15                    177195                   187305
16                    140862                   234908
17                    167996                   191517
18                    132135                   227040
19                    152493                   212579
20                    147425                   263388
21                    130263                   243020

H0: Region and Manager are independent

  H1: Region and Manager are dependent

level of significance is taken as 0.05

In [139]:
stat, p, dof, expected = chi2_contingency(table)
print('dof=%d' % dof)
print(expected)
prob=0.95
critical = chi2.ppf(prob,dof)
print('\033[1mprobability=%.2f\ncritical=%.3f\nstat=%.3f \033[0m' % (prob, critical, stat))
if abs(stat) <= critical:
    print('\033[1msince computed value is less than crictical value \nWe fail to reject the null hypothesis \n  Region and Manager are independent \033[0m')
else:
    print('\033[1msince computed value is greater than crictical value\nWe reject the null hypothesis \nTherefore Region and Manager are dependent \033[0m')

dof=21
[[158243.59208    245067.40792   ]
 [146308.74878564 226584.25121436]
 [153225.29220049 237295.70779951]
 [150656.89571799 233318.10428201]
 [163978.34352948 253948.65647052]
 [154633.8689454  239477.1310546 ]
 [138397.96206394 214333.03793606]
 [141947.26157215 219829.73842785]
 [155971.42831125 241548.57168875]
 [131712.12704074 203978.87295926]
 [142236.43178413 220277.56821587]
 [178609.8854221  276608.1145779 ]
 [137421.37501155 212820.62498845]
 [158767.00193451 245877.99806549]
 [147841.311673   228957.688327  ]
 [143015.66114775 221484.33885225]
 [147437.57198762 228332.42801238]
 [141058.95579207 218454.04420793]
 [140926.337703   218248.662297  ]
 [143240.09176003 221831.90823997]
 [161187.08587953 249625.91412047]
 [146461.76965765 226821.23034235]]
probability=0.95
critical=32.671
stat=50418.988
since computed value is greater than crictical value
We reject the null hypothesis
Therefore Region and Manager are dependent